{% extends 'layout/base.html' %}
{% load humanize %}
{% block head %}{% endblock head %}

{% block css %}
<style>

</style>
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div class="row border border-secondary-subtle">
        <div
            class="col-md-6 d-flex align-items-center justify-content-center img-thumbnail border-top-0 border-bottom-0 rounded-0">
            <img src="{{product.image.url}}" alt="{{product.title}}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2 class="">By {{product.title}}</h2>
            <div>
                {{product.brand}}
            </div>
            <a href="{% url 'category' product.category.slug %}" class="fs-4">{{product.category}}</a>
            <div class="mb-3">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <p class="h4 mb-3">&#8377; {{product.price|intcomma}}</p>
            <ul>
                <li>
                    {{product.description|linebreaksbr}}
                </li>
            </ul>
            <hr>
            <p class="lead"><strong>Seller: </strong>
                {{product.seller}}
            </p>
            <hr style="width: 250px;">
            <button class="btn btn-secondary px-5 rounded-0 mb-4" type="submit">
                Buy Now
            </button>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------ -->
<!-- <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mt-4 mb-3">Similar Products</h1>
        </div>


        <div class="d-flex border">
            <div class="col-md-4 d-flex">
                <img src="{{product.image.url}}" alt="" class="border border-dark img-fluid" height="250px" ,
                    width="250px">
                <div class="ms-4">
                    <h5 class="">PRODUCT NAME</h5>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <p class="mb-3">&#8377;000</p>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <img src="{{product.image.url}}" alt="" class="border border-dark img-fluid" height="250px" ,
                    width="250px">
                <div class="ms-4">
                    <h5 class="">PRODUCT NAME</h5>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <p class="mb-3">&#8377;000</p>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <img src="{{product.image.url}}" alt="" class="border border-dark img-fluid" height="250px" ,
                    width="250px">
                <div class="ms-4">
                    <h5 class="">PRODUCT NAME</h5>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <p class="mb-3">&#8377;000</p>
                </div>
            </div>
        </div>
    </div> -->

<div class="container-fluid py-3">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Similar Products</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for product in similar_products %}
        <div class="col-md-2 mb-4">
            <a href="{% url 'detail' product.id %}" class="text-decoration-none">
                <div class="card h-100">
                    <img src="{{product.image.url}}" alt="{{product.titlea}}" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title|truncatewords:3}}</h5>
                        <p class="card-text">{{product.price}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% empty %}
        <div class="col">
            <p>No similar products found</p>
        </div>
        {% endfor %}
    </div>
</div>
<!-- ------------------------------------------------------------------------ -->
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center d-flex align-items-center gap-3">
                Product Reviews

                {% if user.is_authenticated %}
                <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#addReview">
                    Add Your Review
                </button>
                {% endif %}
            </h2>
        </div>
        {% for item in reviews %}
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="d-flex align-items-center gap-3">
                        <i class="fas fa-user-circle fa-2x"></i>
                        {{item.customer.username|title}}
                    </h6>
                    <p class="text-muted ratingbox" data-value="{{item.rating}}">
                        {{item.rating}}
                    </p>
                    <p class="fs-6">{{item.content}}</p>
                    <p class="text-muted">{{item.created_at|naturaltime}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    No Reviews Yet
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addReview" tabindex="-1" aria-labelledby="addReviewLabel" aria-hidden="true">
    <div class="modal-dialog" action="">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addReviewLabel">Add Your Review</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{review_form}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save Reviews</button>
            </div>
        </div>
    </div>
</div>
<!-- End of modal -->

{% endblock content %}

{% block js %}
<script>
    var ratingbox = document.querySelectorAll('.ratingbox');
    ratingbox.forEach((item) => {
        value = item.getAttribute('data-value');
        item.innerHTML = '⭐'.repeat(value);
    });
</script>
{% endblock js %}