

{% block css %}
<style>
    .card{
        width: 300px;
        object-fit: cover;
    }

    .card-img{
        object-fit: cover;
        margin: 4px;
    }
</style>
{% endblock css %}
    

<div class="container pt-2">
    <div class="row">
        
        {% for product in products %}
            <div class="card col-md-3 me-3 mb-2">
                <img src="{{product.image.url}}" alt="{{product.title}}" class="card-img">
                <div class="card-body">
                    <h3 class="card-title">{{product.title|truncatewords:4}}</h3>
                    <p class="card-price">{{product.price}}</p>
                    <p class="card-time">{{product.created_at|date:"F j, Y"}}</p>
                </div>
                <div class="p-2">
                    <a href="{% url 'detail' product.id %}" class="btn btn-secondary">
                        View Details</a>
                </div>
            </div>
        {% endfor %}
            
    </div>
</div>